/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Set full viewport height for the body */
  html, body {
    height: 100vh;
    background-color: black;
    overflow: hidden;
  }
  
  /* Define header styles */
  header {
    display: flex;
    flex-direction: column;
    height: 15%;
    background-color: black;
    text-align: center;
    color: magenta;
    justify-content: flex-end;
    
  }

  /* Define Navigation bar */
  nav ul {
    list-style: none; /* remove bullet points */
    display: flex; /* set the container to use flexbox */
    justify-content: center; 
}

#navlinks {
    justify-items: flex-end;
}

nav ul li {
    padding: 10px;
    margin: 10px;
    border: 2px solid magenta;
    box-shadow: 0px 0px 10px 2px magenta;
  }
  
  nav ul li:hover {
    background-color: magenta;
    color: black;
  }
  
  nav ul li:active {
    background-color: white;
  }
  
  /* Define main section styles */
  main {
    height: 75%; /* 3/5 of the viewport height */
    background-image: url(img/repetitive_bg.jpg);
  }
  
  h2 {
    padding-top: 10px;
    padding-left: 30px;
    text-align: left;
  }
  
  .mainContent {
    display: flex;
    max-height: 80%;
    flex-flow: space-evenly;
  }
  
  /* Define movie pictures for main section */
  .mainContent div {
    flex: 1;
    flex-basis: 0;
    box-sizing: border-box;
    background-color: black;
    margin: 10px;
  }
  
  img {
    border: solid magenta 2px;
  }
  
  img:hover {
    border: solid magenta 2px;
    box-shadow: 0px 0px 5px 2px magenta;
    opacity: 0.5;
  }
  
  .makeReservation {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }

  .movieText {
    border: solid magenta 2px;
    color: magenta;
    background-color: black;
    padding: 3%;
    margin-top: -3px;
  }
  /* Define footer styles */
  footer {
    color: magenta;
    height: 10%; /* 1/5 of the viewport height */
    background-color: black;
  }
  #footerText {
      padding: 20px;

  }
  