/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Set full viewport height for the body */
  html, body {
    height: 100vh;
    background-color: white;
    overflow: hidden;
    background-image: url(../img/Design.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Define header styles */
  header {
    display: flex;
    flex-direction: column;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #e83390;
    justify-content: flex-end;
    border-bottom: 2px solid #e83390;
  }

/* Define Navigation bar */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center; 
  justify-items: flex-end;
}

.navlinks {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: 2px solid #e83390;
  box-shadow: 0px 0px 10px 2px #e83390;
  color: #e83390;
}

.navlinks:hover {
  background-color: #e83390;
  color: black;
}
  
.navlinks:active {
  background-color: white;
  color: black;
}
  
  /* Define main section styles */
  main {
    height: 75%;
  }
  
  #mainContentHeader {
    padding-top: 10px;
    padding-left: 30px;
    text-align: left;
    color: #e83390;
  }
  
  .mainContent {
    display: flex;
    max-height: 80%;
    flex-flow: space-evenly;
  }
  
  /* Define movie pictures for main section */
  .mainContent div {
    flex: 1;
    flex-basis: 0;
    box-sizing: border-box;
    background-color: black;
    margin: 15px 50px;
  }
  
  img {
    border: solid #e83390 2px;
  }
  
  img:hover {
    border: solid #e83390 2px;
    box-shadow: 0px 0px 5px 2px #e83390;
    opacity: 0.5;
    z-index: -3;
  }
  
  .makeReservation {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .movieText {
    border: solid #e83390 2px;
    color: #e83390;
    background-color: black;
    padding: 3%;
    margin-top: -3px;
  }

  #movieBookingHeader {
    padding-bottom: 10px;
  }

  #bookingMain {
    padding: 70px 0;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
    border: 2px solid #e83390;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    text-align: left;
  }

  input:focus, select:focus {
    box-shadow: 0px 0px 5px 2px #e83390;
  }
  
  input[type="submit"] {
    background-color: #e83390;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  input[type="submit"]:hover {
    background-color: #e2147f;
    box-shadow: 0px 0px 5px 2px #e83390;
  }
  

  /* Define footer styles */
  footer {
    border-top: 2px solid #e83390;
    color: #e83390;
    height: 10%; /* 1/5 of the viewport height */
    background-color: rgba(0, 0, 0, 0.9);
  }

  #footerText {
      padding: 20px;
  }
  